
.header{
    grid-area:hd;
    display: flex;
    position:sticky;
    background-color: wheat;
    color : goldenrod;
    font-weight: bold;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;

}

.description{
    background-image: url("../image/ai_back.gif");
    background-position: center;
    background-size: cover;
    grid-area:des;
    display: inline;
    font-size:3vw;
    color: white;
    flex-direction:row;
    padding:10px;
    padding-left: 5%;
    padding-right: 40%;
    padding-bottom: 8%;
}


.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    font-size: 1.2em;
    width: 10%px;
    /*transition: all 0.5s;*/
    cursor: pointer;
    padding:10px;
}

.button:hover {
    background-color: white;
    border : 1px red solid;
    color:orange;
}



#ai{
    font-size:7vw;
    text-decoration:underline #F4FDAF 1px;
    font-weight: bolder;
    color:white;
}

@media(min-width:900px){
    #ai{
        font-size:5vw;
    }
    .description{
        font-size:2vw;
    }
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding :20px; 
    color:white;
    text-align: center;
    background-color: brown;
    grid-area: ft;
}


.post{
    margin:10px;
    padding:0px 10px 0px 10px;
}


.search{
    border:none;
    padding:5px;

}