@import 'constant.css';


.container{
    display:grid;
    /*grid-template-rows : 1fr 11fr 3fr;*/
    grid-auto-rows: minmax(auto,auto);
    grid-template-columns: 1fr ;
    grid-template-areas: 
    "hd"
    "des"
    "main"
    "ft";
}

.header{
    grid-area:hd;
    display: flex;
    position:sticky;
    background-color: wheat;
    color : goldenrod;
    font-weight: bold;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;

}

.author{
    background-color: khaki;
    border-radius:10px;
    margin:2%;
    grid-area: des;
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    padding:5%;
}

.name{
    text-decoration: underline;
}

.content{
    padding:5%;
    font-size:1.5em;
    padding-top:10px;
}

.topic{
    text-align: center;
    text-decoration: underline;
    font-size:4em;
}
.refereces{
    font-size:0.8em;
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding :20px; 
    color:white;
    text-align: center;
    background-color: brown;
    grid-area: ft;
}


.post{
    margin:10px;
    padding:0px 10px 0px 10px;
}