<!DOCTYPE html>
<html>
<head>
  <title>Layout Master</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
	
			  <nav class="zone blue sticky">
			  	<ul class="main-nav">
			  		<li><a href="">About</a></li>
			  		<li><a href="">Products</a></li>
			  		<li><a href="">Our Teams</a></li>
			  		<li class="gap"></li>
			  		<li><a href="">Contacts</a></li>			  		
			  	</ul>
			  </nav>
			  <div class="blah zone"><img class="cover" src="img1.png"></div>
			  <div class="zone blue grid-wrapper">
			  	
			  	<div class="box zone"><img src="img2.png"></div>
			  	<div class="box zone"><img src="img3.png"></div>
			  	<div class="box zone"><img src="img4.png"></div>
			  	<div class="box zone"><img src="img5.png"></div>
			  	<div class="box zone"><img src="img6.png"></div>
			  	<div class="box zone"><img src="img7.png"></div>
			  	<div class="box zone"><img src="img8.png"></div>
			  	<div class="box zone"><img src="img9.png"></div>

			  </div>
			  <footer class="zone yellow">By PRATIK AGARWAL</footer>
    
</body>
</html>