body{
	background: linear-gradient(to right ,#42275a , #734b6d);
	color: rgba(210,56,36);
}
div
{
	display: flex;
	justify-content: center;
}
.center
{
	display: flex;
	justify-content: center;
	color:green;
	text-decoration-color: green;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}
.input-group 
{
	margin-left: auto;
	margin-right: auto;
    width:25%;
}
#answer{
    font-size: 5em;
	display: flex;
	justify-content: center;
    color: white;
    border:2px black;
    font-weight: bold;

}
#exp
{
	background-color: linen;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	size: 1.5em;



}

h4
{
	font-size: 200%;
	font-weight: bold;
	font-color:purple;
	font-family: "georgia";
}
